

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

/* CSS header */
header{
    font-size: 20px;
    width: 80%;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header > img{
    width: 10rem;
}


/* Nav bar */
nav{
    padding-top: 30px;
    font-size: 14px;
}
ul{
    list-style-type: disc;
}
li{
    display: inline-block;
    padding-right: 0.4em;
}
a{
    text-decoration: none;
    color: #b9b8ba;

}
a:visited{
    color: #b9b8ba;
}

/* inizio main */
main > div{
    margin: 30px auto 0;
    width: 80%;
}

/* sezione carosello */
.carousel{
    border-radius: 10px;
    position: relative;
}
.carousel > img{
    object-fit: cover;
    width: 100%;
    height: 40em;
}
.banner-text {
    position: absolute;
    left: 50px;
    bottom: 100px;
    max-width: 60%;
    color: white;
}
.banner-text > h2{
    font-weight: 300;
}
p{
    font-weight: 300;
    
}


/* articolo */
.main-article{
    margin-bottom: 10px;
}
    /* titolo */
.section-header{
    width: 100%;
}
h1{
    padding-top: 1.5em;
}
.subtitle{
    color: #b9b8ba ;
    padding-bottom: 20px; 
    display: inline-block;
}

    /* content */
.article{
    margin: 20px 0;
}
.article.left{
    float: left;
    width: 20%;
}
.article.middle{
    float: left;
    margin: 20px 15px;
    width: calc(60% - 30px);
}
.article.right{
    float: right;
    width: 20%;
}

.article-img{
    height: 250px;
    border-radius: 10px;
    width: 100%;
}

.article-img > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.article-text{
    padding: 20px 0;
}

h3{
    font-weight: 500;
}
.article-text > p{
  color:#c9c8c9;
}

.main-article::after{
    content: "";
    display: table;
    clear: both;
}


/* footer */
footer{
    width: 100%;
    margin-bottom: 20px;
    color: #807f81;
    display: inline-block;
    text-align: center;
}
.heart{
    color: #eb3324;
    font-size: 20px;
}
img{
    filter:brightness(0.80);
    border-radius: 10px;
}