

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

/* CSS header */
header{
    font-size: 20px;
    width: 80%;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header > img{
    width: 10rem;
}
/* Fine Header */

/* Nav bar */
nav{
    padding-top: 30px;
    font-size: 14px;
}
ul{
    list-style-type: disc;
}
li{
    display: inline-block;
    padding-right: 0.4em;
}
a{
    text-decoration: none;
    color: #b9b8ba;

}
a:visited{
    color: #b9b8ba;
}
/* fine nav bar */

main > div{
    margin: 30px auto 0;
    width: 80%;
}

/* sezione carosello */
.carousel{
    border-radius: 10px;
    position: relative;
}
.carousel > img{
    object-fit: cover;
    width: 100%;
    height: 40em;
}
.banner-text {
    position: absolute;
    left: 50px;
    bottom: 100px;
    max-width: 60%;
    color: white;
}
.banner-text > h2{
    font-weight: 300;
}
p{
    font-weight: 300;
    
}
/* fine carosello */

.main-article{
    /* background-color: #0185ff; */
    margin-bottom: 10px;
}

.section-header{
    width: 100%;
    /* background-color: #abcfe7; */
}
h1{
    padding-top: 1.5em;
}
.subtitle{
    color: #b9b8ba ;
}
.article{
    width: 20%;
    margin: 20px 0;
}
.article.left{
    float: left;
}
.article.middle{
    float: left;
    width: calc(60% - 30px);
    margin: 20px 15px;
}
.article.right{
    float: right;
}

article > img{
    height: 40%;
    border-radius: 10px;
}

.main-article::after{
    content: "";
    display: table;
    clear: both;
}
footer{
    /* background-color: #8801fe; */
    width: 80%;
    margin: 0 auto 20px;
    height: 70px;
}
img{
    filter:brightness(0.80);
    border-radius: 10px;
}